::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--neon-bg);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--neon-accent);
    border-radius: 10px;
}